@charset 'UTF-8';
body{
    font-weight: bold;
    font-family:"Comic Sans MS";
}
/* ロード画面 */
.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: #999;
  z-index: 9999;
}

.animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.animation,
.animation:before,
.animation:after {
    width: 1em;
    height: 4em;
    background: #ffffff;
    animation: load 1s infinite ease-in-out;
}
 
.animation:before,
.animation:after {
    position: absolute;
    top: 0;
    content: '';
}
 
.animation{
    animation-delay: -0.16s;
}
 
.animation:before {
    left: -1.5em;
    animation-delay: -0.32s;
}
 
.animation:after {
    left: 1.5em;
}
 
@keyframes load {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
.header_wrapper{
    display: flex;
    max-width: 1024px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    box-shadow: 0 1px #999;
    position: sticky;
    width: 100%;
    top: 0;
    margin: 0 auto;
    background-color: #fff;
    z-index: 2;
}

.header_logo{
    line-height: 50px;
    margin-left: 20px;
}
._nav_list{
    display: flex;
    line-height: 50px;
    margin-left: -15px;
    margin-right: 20px;
}
._nav_list-item{
    margin-left: 15px;
}
@media screen and (min-width:768px) {
    .hamburger-menu{
        display: none;
    }
    .navigation_link:hover{
        color: #909090;
        transition: .5s;
    }
    .header_nav{
        display: none;
    }
}
@media screen and (max-width:768px) {
    ._nav{display: none;}
    .header_nav {
        display: none;
        background: #242424;
        position: absolute;
        top: 70px;
        width: 100%;
        z-index: 9999;
      }
      .header_nav_list {
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: 0;
      }
      .header_nav_list-item {
        border-bottom: solid 1px #474747;
        margin-left: 0;
      }
      .header_nav_list-item:first-child {
        border-top: solid 1px #474747;
      }
      .navigation__link {
        color: #fff;
        font-weight: 700;
        text-decoration: none;
        display: block;
        padding: 24px 0;
        transition: .5s;
      }
      @media (hover: hover) and (pointer: fine) {
        .navigation__link:hover {
          background: #333;
        }
      }
}
.hamburger-menu {
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background: transparent;
    appearance: none;
    padding: 0;
    cursor: pointer;
  }
  .hamburger-menu__bar {
    display: inline-block;
    width: 44%;
    height: 2px;
    background: #242424;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s;
  }
  .hamburger-menu__bar:first-child {
    top: 16px;
  }
  .hamburger-menu__bar:nth-child(2) {
    top: 24px;
  }
  .hamburger-menu__bar:last-child {
    top: 32px;
  }
  .hamburger-menu--open .hamburger-menu__bar {
    top: 50%;
  }
  .hamburger-menu--open .hamburger-menu__bar:first-child {
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:last-child {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
  .hamburger-menu--open .hamburger-menu__bar:nth-child(2) {
    display: none;
  }

  /* パララックス */

.first-v2 {
    position: relative;
    background: url(S__15253546.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1024px;
    margin: 0 auto;
    height: 600px;
    padding-top: unquote("min(100vh,75%)");
    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        line-height: 1.5;
        font-size: unquote('max(3vw, 16px)');
    }
}
/* メインエリア */
.main-container{
height: 1500px;
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: space-around;
/* padding-top: 600px; */
}
.fadeIn{
  width: 300px;
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 1500ms;
}
.fadeIn.scrollIn{
  opacity: 1;
  transform: translate(0, 0);
}

